.top-section {
  background-image: url("./img/desktop.png");
  background-repeat: no-repeat;
  margin-top: 65px;
  height: auto;
  width: 100%;
  padding: 80px 0;
}

.top-section {
  text-align: center;
  color: #626264;
}

.about-conference {
  width: 700px;
  max-width: 90%;
  margin: 20px auto;
  background-color: rgb(253, 251, 251);
  color: #626264;
  border: 1px solid white;
  font-size: 14px;
  padding: 20px;
}

.about-conference p {
  line-height: 25px;
}

.top-section a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bolder;
  color: #626264;
}

.objectives {
  padding: 50px 0;
}

.objectives h2 {
  text-align: center;
  margin-bottom: 40px;
}

.obj {
  border: 1px solid rgba(64, 67, 73, 0.9);
  border-radius: 8px;
  margin-bottom: 40px;
  width: 100%;
}

.obj .head {
  background-color: rgba(64, 67, 73, 0.9);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 30px 0;
  text-align: center;
}

.head h3 {
  color: white;
  font-size: 20px;
}

.obj-img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.obj ul {
  padding: 20px;
}

.obj li {
  display: flex;
  line-height: 25px;
  font-size: 14px;
}

.obj span {
  color: #e65642;
}

footer {
  background-color: rgba(64, 67, 73, 0.9);
  color: white;
}

.footer-h2 {
  color: white;
  margin-bottom: 15px;
}

.past-submit {
  padding: 100px 0;
  background-image: url("./img/desktop.png");
}

.past-submit h2 {
  color: #626264;
}

.past-submit p {
  margin: 20px 0;
  font-size: small;
  color: #626264;
}

.past-submit-container {
  text-align: center;
}

.submits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.submits img {
  width: 100%;
  height: 250px;
}

@media (min-width: 768px) {
  .objectives-content {
    display: flex;
  }

  .obj {
    margin-right: 20px;
  }
}
