.top-section {
  background-image: url("./img/desktop.png");
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: #626264;
}

.abt-h1 {
  margin-top: 30px;
  line-height: 50px;
}

.about-conference {
  width: 900px;
  max-width: 95%;
  margin: 40px auto;
  background-color: white;
  color: #626264;
  border: 1px solid #d3d3d3;
  font-size: 14px;
  padding: 20px;
}

.about-conference p {
  line-height: 25px;
}

.top-section a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bolder;
  color: #626264;
}

.about-the-logo {
  padding: 70px 0;
  border: 1px solid #d3d3d3;
  text-align: center;
}

.about-logo-content {
  width: 700px;
  max-width: 90%;
  margin: 0 auto;
  font-size: 14px;
  color: #626264;
}

.about-logo-content h3 {
  margin-bottom: 20px;
}

.about-logo-content div {
  border: 1px solid #d3d3d3;
  width: 900px;
  max-width: 100%;
  margin: 30px auto;
  padding: 30px 0;
}

.about-logo-content img {
  background-color: rgba(64, 67, 73, 0.9);
  width: 60%;
  height: 100px;
}

.past-submit {
  padding: 100px 0;
}

.past-submit h2 {
  color: #626264;
}

.past-submit p {
  margin: 20px 0;
  font-size: small;
  color: #626264;
}

.past-submit-container {
  text-align: center;
}

.submits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.submit1 {
  background-image: url(./img/previouse-submit1.jpg), linear-gradient(#eb3d2a, #eb3d2a);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  padding: 7rem 1rem;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.submit2 {
  background-image: url(./img/previous-submit2.jpg), linear-gradient(#da2a17, #da2a17);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  padding: 7rem 1rem;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.logo-abt {
  margin-top: -15px;
}

.logo-abt img {
  background-color: rgba(64, 67, 73, 0.9);
  width: 150px;
  height: 40px;
}

@media (min-width: 768px) {
  .top-section {
    margin-top: 70px;
  }

  .objectives-content {
    display: flex;
  }

  .obj {
    margin-right: 20px;
  }
}
